#canvas {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas2 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}



#canvas3 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas4 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas5 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas6 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas7 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas8 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas9 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas10 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas11 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}

#canvas12 {
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 10%;
}